.imperio {background-color: red;}
.rebeldes {	background-color: blue;}
#darthVader {font-size: x-large;}
#luckSky {font-style: italic;}
.soldados {border-width: 3px; border-style: dashed; border-color: red;}
.soldadosEspacios {letter-spacing: 3px;}
.unidApoyo {text-align: center;}
.navesMayus {text-transform:uppercase;}