.parrafos { text-align: center; font-size: 24px; font-family: serif;
line-height: 1.5;text-indent: 24px;white-space: normal; }
#titulo { text-align: center; font-size: 48px ;   }
#opciones { font-size: 24px; }
#opcionesGral {text-align: center; font-size: 24px;}
#imagenes { width: 400px; height: 500px; image: center; display: block; margin: auto; filter: grayscale(100%);}
hr {height: 5px; width: 80%;}